<div class="span4">
<div class="navbar-inner">
<h3>The basics</h3>
<ul class="nav">
  <li><a href="about.html">What is impact mapping?</a></li>
  <li><a href="drawing.html">Drawing impact maps</a></li>
  <li><a href="role.html">Role of impact maps</a></li>
  <li><a href="example.html">An example</a></li>
  <li><a href="delivering.html">Delivering business goals, not just features</a></li>
</ul>
<h3>Further info...</h3>
<a href="book.html" class="btn btn-primary">Get the book</a><br/>&nbsp;
</div>
</div>
