<a class="btn btn-mini btn-primary" target="_blank" href="https://leanpub.com/impact-mapping/">Get the eBook (Kindle, iBooks, PDF)</a>

<a class="btn btn-mini" href="/assets/impact_mapping_20121001_sample.pdf">Download a sample</a><br/>
Alternative options: 

<a href="http://www.amazon.com/gp/product/0955683645/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0955683645&linkCode=as2&tag=swingwiki-20">Amazon.Com</a> (print and Kindle),
<a href="http://www.amazon.co.uk/gp/product/0955683645/ref=as_li_ss_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=0955683645&linkCode=as2&tag=swingwiki-21">Amazon UK</a> (print and Kindle), 
<a href="http://www.amazon.de/Impact-Mapping-Software-Products-Projects/dp/0955683645/ref=tmm_pap_title_0">Amazon DE</a> (print and Kindle),
<a href="https://itunes.apple.com/gb/book/impact-mapping/id572531712?mt=11">iTunes</a> (for Apple devices),
<a href="http://www.lulu.com/shop/gojko-adzic/impact-mapping-making-a-big-impact-with-software-products-and-projects/ebook/product-20444217.html">Lulu.com</a> (ePub for other eBook readers)
<br/><br/>
