<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="index.html">Impact Mapping</a>
			<ul class="nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						The basics
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="about.html">What is impact mapping?</a></li>
						<li><a href="drawing.html">Drawing impact maps</a></li>
						<li><a href="role.html">Role of impact maps</a></li>
						<li><a href="example.html">An example</a></li>
						<li><a href="delivering.html">Delivering business goals, not just features</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						The book
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li> <a href="book.html">Get the book</a> </li>
						<li><a href="assets/impact_mapping_20121001_sample.pdf">Download a sample</a></li>
						<li><a href="book_toc.html">Table of contents</a></li>
						<li><a href="book_foreword.html">Foreword</a></li>
						<li><a href="book_res.html">Bibliography and resources</a></li>
						<li><a href="book_index.html">Index</a></li>
					</ul>  
				</li>             
				<li>
					<a href="book_poster.html">Get the poster</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Resources
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="community.html">Tools, videos and articles on the Web</a></li>
						<li><a href="related.html">Books and articles on related topics</a></li>
						<li><a href="training.html">Training workshops and seminars</a></li>
						<li><a href="consultants.html">Royalty-free artwork for presentations</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						Join the community

						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="https://groups.google.com/d/forum/impact-mapping/subscribe">Discussion list on Google</a></li>
						<li><a href="http://bit.ly/gojkoImpact">Monthly newsletter</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav pull-right">
				<li><a href="contact.html">Contact</a></li>
				<li><a href="/fr/">fr</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>






