<div class="span4">
<div class="navbar-inner">
<h3>Les bases</h3>
<ul class="nav">
	<li><a href="/fr/about.html">Qu'est-ce que l'impact mapping ?</a></li>
	<li><a href="/fr/drawing.html">Dessiner des cartes d'impact</a></li>
	<li><a href="/fr/role.html">Rôle des cartes d'impact</a></li>
	<li><a href="/fr/example.html">Un exemple</a></li>
	<li><a href="/fr/delivering.html">Atteindre des objectifs plutôt que livrer des fonctionnalités</a></li>
</ul>
<h3>Plus d'info...</h3>
<a target="_blank" href="/book.html" class="btn btn-primary">Le livre</a><br/>&nbsp;
</div>
</div>
