	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="index.html">Impact Mapping</a>
            <ul class="nav">
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Les bases
              <b class="caret"></b>
              </a>
               <ul class="dropdown-menu">
				   	<li><a href="/fr/about.html">Qu'est-ce que l'impact mapping ?</a></li>
					<li><a href="/fr/drawing.html">Dessiner des cartes d'impact</a></li>
					<li><a href="/fr/role.html">Rôle des cartes d'impact</a></li>
					<li><a href="/fr/example.html">Un exemple</a></li>
					<li><a href="/fr/delivering.html">Atteindre des objectifs plutôt que livrer des fonctionnalités</a></li>
                </ul>
            </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Le livre
              <b class="caret"></b>
              </a>
               <ul class="dropdown-menu">
                <li> <a href="/book.html">Obtenez le livre</a> </li>
                <li><a href="/assets/impact_mapping_20121001_sample.pdf">Télécharger un extrait</a></li>
                <li><a href="/http://www.impactmapping.org/book_toc.html">Table des matières</a></li>
                <li><a href="/book_foreword.html">Préface</a></li>
                <li><a href="/book_res.html">Ressources et bibliographie</a></li>
                <li><a href="/book_index.html">Index</a></li>
                </ul>  
              </li>             
              <li>
                <a href="/book_poster.html">Le poster</a>
              </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Ressources
              <b class="caret"></b>
              </a>
               <ul class="dropdown-menu">
                <li><a href="/community.html">Outils, vidéos et articles sur le Web</a></li>
                <li><a href="/related.html">Livres et articles sur les sujets connexes</a></li>
                <li><a href="/training.html">Ateliers et séminaires</a></li>
                <li><a href="/consultants.html">Eléments graphiques libres pour présentations</a></li>
              </ul>
            </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Rejoindre la communauté

              <b class="caret"></b>
              </a>
               <ul class="dropdown-menu">
                <li><a href="https://groups.google.com/d/forum/impact-mapping/subscribe">Liste de discussion sur Google</a></li>
                <li><a href="http://bit.ly/gojkoImpact">Newsletter mensuelle</a></li>
                </ul>
                </li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="/contact.html">Contact</a></li>
              <li><a href="/">en</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
